<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <button class="col-lg-3" ion-button color="dark" *ngFor="let item of items" outline (click)="itemTapped($event, item)">{{item.title}}</button>
    <!-- <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button> -->
  </ion-list>



</ion-content>