// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.sbt{
    width:17%;
    color:black;
    text-align:center;
    padding:inherit;
    margin:3px;
    }
    .sbtMulti{
    width:100%;
    color:black;
    padding:inherit;
    margin:3px;
    }
    .card {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background:rgba(255,255,255,0.7);
      }
     
.page-sub-title{
        margin-top: - 25px;
        color: gray;
        font-size : .6em;
}
ion-content {
background-image: url('./../assets/imgs/background_music.jpg') !important;
}

.button-block {
    background-color: darkslategrey !important;
}

.toolbar-background {
    background-color: darkslategrey;
  }

  .toolbar-title-md {
   
    color: white;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
  
}

.item-md {
    background-color: goldenrod;
}

.listButton{
    background-color: goldenrod;
    margin: 3px;
    width: 20%;
}